@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  font-family: 'Lato', Arial, sans-serif;
}
body {
  background-image: url('../assets/images/8-bit-bg.png'), url('../assets/images/8-bit-bg-bottom.png');
  background-repeat: repeat-x;
  background-position: top center, bottom center;
  background-color: #000000;
}
