.games_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -28px;
  margin-right: -28px;
}
.game_card {
  flex: 0 0 200px;
  max-width: 100%;
  margin: 28px;
}
.game_img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.08s ease;
  cursor: pointer;
  box-shadow: 6px 0 #706884,
              -6px 0 #aa9aaf,
              0 -6px #aa9aaf,
              0 6px #706884;
}
.game_name {
  color: #ffffff;
  padding-top: 16px;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (min-width: 992px) {
  .game_card:hover .game_img {
    box-shadow: 6px 0 #6be1ff,
    -6px 0 #ffffff,
    0 -6px #ffffff,
    0 6px #6be1ff;
  }
  .game_card:hover .game_name {
    color: #6be1ff;
  }
}
