<div *ngIf="gamesList | async as games"
     class="games_wrap">
  <div *ngFor="let game of games | searchFilter: {game_title: searchString}"
       class="game_card">
    <img class="game_img" src="{{game.game_image}}" alt=""/>
    <h3 class="game_name">{{game.game_title}}</h3>
  </div>
</div>
