<div class="search_wrap">
  <input class="search_input" [(ngModel)]="searchString" placeholder="Search game" [autofocus]="true">
</div>
<div class="results_wrap">
  <app-results [gamesList]="games$" [searchString]="searchString"></app-results>
</div>
