:host {
  display: block;
  min-height: calc(100vh - 96px);
}
.search_wrap {
  width: 100%;
  position: relative;
  padding: 40px;
}
.search_input {
  width: 100%;
  display: block;
  padding: 20px;
  border: 4px solid transparent;
  outline: none;
  font-family: 'Press start 2P', sans-serif;
  font-size: 16px;
  opacity: 0.9;
  transition: all 0.08s ease;
  box-shadow: 6px 0 #706884,
              -6px 0 #aa9aaf,
              0 -6px #aa9aaf,
              0 6px #706884;
}
.search_input:focus {
  opacity: 1;
  box-shadow: 6px 0 #3893b5,
              -6px 0 #6be1ff,
              0 -6px #6be1ff,
              0 6px #3893b5;
}
.results_wrap {
  width: 100%;
  position: relative;
  padding: 120px 40px 160px;
}

@media screen and (max-width: 575.98px) {
  .search_wrap,
  .results_wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
